.we{'ng-controller' => 'PlaceController'}
  = render 'mobile_menu'
  .fix_wrap{'ng-class' => '{menu_open: open_collapse}'}
    .sub_wrapper
      %map
  .main_wrap{'ng-class' => '{menu_open: open_collapse}'}
    = render 'header'
    #shroud{'ng-click' => 'openCollapse()', 'ng-if'=>'open_collapse'}

    %section.main_partial{'partial' => '', template: 'index', 'ng-if' => 'view.index'}

    %section.right_partial.right.half{'partial' => '', template: 'result', 'ng-if' => 'view.result'}

    %section.right_partial.right.half{'partial' => '', template: 'detail', 'ng-if' => 'view.detail'}


  / .map_control
  /   %span{'ng-class' =>'{ active: map_control }', 'ng-click' =>'mapControl()'} карта
  /   %span{'ng-class' =>'{ active: !map_control }', 'ng-click' =>'mapControl()'} инфо
