.we{'ng-controller' => 'PlaceController'}
  = render 'mobile_menu'

  #content
    .fix_wrap
      .sub_wrapper
        %map
    .main_wrap
      = render 'header'
      %section.main_partial{'partial' => '', template: 'index', 'ng-if' => 'view.index'}

      %section.right_partial.right.half{'partial' => '', template: 'result', 'ng-if' => 'view.result'}

      %section.right_partial.right.half{'partial' => '', template: 'detail', 'ng-if' => 'view.detail'}
    #shroud
    .menu-trigger{ 'menu_trigger' => '' }


  /     %section.main_partial{'partial' => '', template: 'index', 'ng-if' => 'view.index'}

  /     %section.right_partial.right.half{'partial' => '', template: 'result', 'ng-if' => 'view.result'}

  /     %section.right_partial.right.half{'partial' => '', template: 'detail', 'ng-if' => 'view.detail'}


  / / .map_control
  / /   %span{'ng-class' =>'{ active: map_control }', 'ng-click' =>'mapControl()'} карта
  / /   %span{'ng-class' =>'{ active: !map_control }', 'ng-click' =>'mapControl()'} инфо
