#media_width
.we{'ng-controller' => 'PlaceController'}
  = render 'header'

  .main_wrap.body{'ng-class' => '{open_menu: open_collapse}'}
    .fix_wrap
      .sub_wrapper
        %map

    %section.main_partial{'partial' => '', template: 'index', 'ng-if' => 'view.index'}

    %section.right_partial.right.half{'partial' => '', template: 'result', 'ng-if' => 'view.result'}

    %section.right_partial.right.half{'partial' => '', template: 'detail', 'ng-if' => 'view.detail'}

  / .map_control
  /   %span{'ng-class' =>'{ active: map_control }', 'ng-click' =>'mapControl()'} карта
  /   %span{'ng-class' =>'{ active: !map_control }', 'ng-click' =>'mapControl()'} инфо
