.we{'ng-controller' => 'PlaceController'}
  = render 'mobile_menu'

  #content
    .fix_wrap{'ng-class' => '{show : (!xs || map_show)}'}
      .sub_wrapper
        %map
    .main_wrap{'ng-show' => '(!xs || !map_show)'}
      %section.main_partial{'partial' => '', template: 'index', 'ng-if' => 'view.index'}

      %section.right_partial.right.half{'partial' => '', template: 'result', 'ng-if' => 'view.result'}

      %section.right_partial.right.half{'partial' => '', template: 'detail', 'ng-if' => 'view.detail'}
    = render 'header'
    #shroud
    %button.menu-trigger.menu_button.primary.uk-visible-small{ 'menu_trigger' => '' }


  /     %section.main_partial{'partial' => '', template: 'index', 'ng-if' => 'view.index'}

  /     %section.right_partial.right.half{'partial' => '', template: 'result', 'ng-if' => 'view.result'}

  /     %section.right_partial.right.half{'partial' => '', template: 'detail', 'ng-if' => 'view.detail'}


  / / .map_control
  / /   %span{'ng-class' =>'{ active: map_control }', 'ng-click' =>'mapControl()'} карта
  / /   %span{'ng-class' =>'{ active: !map_control }', 'ng-click' =>'mapControl()'} инфо
