/ .grid.wrap.block.index
/   %div{'ng:controller' => 'LocationController'}
/     %h1 Place.by
/     Укажите ваше расположение
/     %form{ name:'currentLocation', 'ng:submit' => 'getCoordinateAddress()' }
/       %input{ name: 'address', 'ng:model' => 'currentAddress' }
/     %button{ 'ng:show' => 'showCoordinateGeo', 'ng:click' => 'getCoordinateGeo()' } O_o
/     %button{ 'ng:click' => 'clicsds()' } O_o
/     Location: {{coordinate}}
/     = link_to 'rooms', '/rooms'
/     = link_to 'add room', '/rooms/new'
.home_index.uk-container-center.uk-width-small-1-1.uk-width-medium-5-6.uk-width-large-5-6.block
  .uk-grid
    .uk-width-1-1.uk-text-large
      В каталоге
      = Place.count
      = I18n.t(:places, count: Place.count)
  .uk-grid
    .uk-width-1-1.promo
      .uk-text-large Мы собрали для вас наиболее полезные места оказания услуг и времяпрепровождения
  .uk-grid.categories
    - Category.roots.each do |category|
      .uk-width-small-1-1.uk-width-medium-1-2.uk-width-large-1-4
        %h2= category.title
        - category.children.each do |sub_category|
          = link_to sub_category.title, category_path(sub_category.slug), class: 'subtitle'
