/ .grid.wrap.block.index
/   %div{'ng:controller' => 'LocationController'}
/     %h1 Place.by
/     Укажите ваше расположение
/     %form{ name:'currentLocation', 'ng:submit' => 'getCoordinateAddress()' }
/       %input{ name: 'address', 'ng:model' => 'currentAddress' }
/     %button{ 'ng:show' => 'showCoordinateGeo', 'ng:click' => 'getCoordinateGeo()' } O_o
/     %button{ 'ng:click' => 'clicsds()' } O_o
/     Location: {{coordinate}}
/     = link_to 'rooms', '/rooms'
/     = link_to 'add room', '/rooms/new'
.home_index
  .container
    .row
      .col-xs-12.mn
        В каталоге
        = Place.count
        = I18n.t(:places, count: Place.count)
    .row.check
      .col-xs-12.promo
        Мы собрали для вас наиболее полезные места оказания услуг и времяпрепровождения
    - 30.times do
      .row
        - Category.roots.each do |category|
          .col-sm-12.col-md-6.col-lg-3.mn
            .title= category.title
            - category.children.each do |sub_category|
              = link_to sub_category.title, category_path(sub_category.slug), class: 'subtitle'

/ .block.index
/   .grid.head
/     .unit.w-1-1
/       В каталоге
/       = Place.count
/       = I18n.t(:places, count: Place.count)
/   .grid.promo.check
/     .unit.w-1-1
/       Мы собрали для вас наиболее полезные места оказания услуг и времяпрепровождения
/   .grid.list_styled
/     .q
/     - Category.roots.each do |category|
/       .unit.w-main
/         .title= category.title
/         - category.children.each do |sub_category|
/           = link_to sub_category.title, category_path(sub_category.slug), class: 'subtitle'
