Hello
= link_to 'hi', '#/detail/4'
= link_to 'sea', '/search'
%div{'ng-controller' => 'SearchResult'}
  %ul
    %li{'ng-repeat' => 'place in places'}
      = link_to '{{place.title}}', '#/detail/{{place.id}}'

  %div
    {{SearchScope}}