.results.block
  .uk-width-1-1.menu
    .uk-hidden-small.uk-vertical-align.uk-text-center
      = link_to '/', class: 'uk-width-1-3 uk-vertical-align-middle' do
        на главную
      .uk-width-1-3.uk-vertical-align-middle{'ng-click' => 'scroll_to_root()'}
        %h3.uk-text-uppercase.uk-margin-top
          %ng-pluralize{ count: "places.length", when: "placeForms"}
      .uk-width-1-3.uk-vertical-align-middle
        -# f
    / = link_to '/', class: 'last' do
    /   .unit.w-1-3 закладки

  .result_items{ "bindonce" => "", 'ng-repeat' => 'place in places' }
    %a{ "bo-href" => "'/' + category + '/' + place.id" }
      .uk-grid
        .uk-width-1-1
          .uk-text-info{ "bo-text" => "place.address" }
          .uk-text-large{ "bo-text" => "place.title" }
