= link_to '', '/{{category}}', class: 'link_to_room xs-hide'
.wrap.block.details.half.place
  .grid.menu.half
    .unit.w-1-3
      = link_to '', '/{{category}}', class: 'link_to_room_xs xs-show'
    .unit.w-1-3
      %button.infogram{'ng-click' => 'back()'}
        %i.big_icon
        %span.link Вернуться назад