= link_to '', '/{{category}}', class: 'link_to_room uk-hidden-small'
= link_to '', '/{{category}}', class: 'link_to_room_xs menu_button primary uk-visible-small'
.block.details.place
  .uk-grid
    .uk-width-1-2.uk-text-center
      %a.uk-button.uk-button-chameleon
        Добавить в закладки
    .uk-width-1-2.uk-text-center
      %a.uk-button.uk-button-chameleon
        Редактировать

  .uk-grid
    .uk-width-1-1
      %h3.uk-article-lead.uk-margin-bottom-remove
        {{place.address}}
      %h1.uk-article-title.uk-margin-top-remove
        {{place.title}}
      .uk-text-info{'ng-if' => '!!place.address_comment'}
        .uk-article-lead Точное расположение:
        {{place.address_comment}}

  .uk-grid{'ng-if' => '!!place.description'}
    .uk-width-1-1
      {{place.description}}

  .uk-grid{'ng-if' => '!!place.time_work'}
    .uk-width-1-1
      .uk-article-lead Время работы:
      {{place.time_work}}

  .uk-grid{'ng-if' => 'place.contacts.length > 1'}
    .uk-width-1-1
      .uk-article-lead Контакты:
      .div.check{'ng-repeat' => 'contact in place.contacts'}
        %span {{contact.contact_type}}:
        %span {{contact.num}}
        %span {{contact.comment}}
  .uk-margin-bottom