= link_to '', '/{{categoryId}}', class: 'link_to_room'
.wrap.block.details.half.place
  .grid.menu.half
    .unit.w-1-3
    .unit.w-1-3
      %button.infogram
        %i.icon
        %span Добавить в закладки
    .unit.w-1-3
      %button.infogram
        %i.icon
        %span Изменить данные
  .grid.after_menu
    .unit.w-1-1
      .hint {{place.address}}
      .title
        %span {{place.title}}
  .grid{'ng-show' => '!!place.address_comment'}
    .unit.w-1-1
      .hint
        .subtitle Точное расположение:
        .check {{place.address_comment}}

  .grid{'ng-show' => '!!place.description'}
    .unit.w-1-1
      .check {{place.description}}

  .grid{'ng-show' => '!!place.time_work'}
    .unit.w-1-1
      .subtitle Время работы:
      .check {{place.time_work}}
  .grid{'ng-show' => 'place.contacts.length > 1'}
    .unit.w-1-1
      .subtitle Контакты:
      .div.check{'ng-repeat' => 'contact in place.contacts'}
        %span {{contact.contact_type}}:
        %span {{contact.num}}
        %span {{contact.comment}}