.block.details.place.uk-height-1-1
  .uk-height-1-1.uk-vertical-align
    .uk-vertical-align-middle
      .uk-width-1-1.uk-text-center.uk-text-large
        Спасибо за актуализацию данных
        %br
        Изменения будут отображениы после проверки модератором

      .uk-width-1-1.uk-text-center.uk-margin-top
        %a.uk-button.uk-button-large{ 'ng-click' => 'cancelEdit()'}
          Понятно