.wrap
  .grid
    .unit.whole
      %h1 Изменения )
  .grid
    .unit.w-1-2
      %h3 Было
      = @place_prew.inspect

    .unit.w-1-2
      %h3
        = (params[:action] == 'index') ? 'Текущая версия' : 'Стало'

      = @place_next.inspect
  .grid
    = link_to 'предыдущая', place_mask_path(params[:place_id], @mask.previous_mask_id)
