.wrap.results.block
  = link_to 'root', '/'
  {{room_filter}}
  %input{ 'ng:model' => "name" }

  %h2 Rooms
  size: {{filtered_rooms.length}}

  .rooms{ 'ng-repeat' => 'room in filtered_rooms' }
    = link_to '/rooms/{{room.id}}' do
      .grid
        .unit.w-1-6
          .price
            ${{room.price}}
        .unit.w-4-6
          .address
            {{room.address}}
          .rooms_count
            %ng-pluralize{ count: "room.rooms_count", when: "roomForms"}
        .unit.w-1-6
          .big_icon{ title: 'добавить в закладки'}