= link_to '', '/rooms', class: 'link_to_room'
.wrap.block.room_detail
  .grid.menu
    .unit.w-1-3.price
      ${{room.price}}
    .unit.w-1-3
      %button.unstyle
        %i.icon
        %span Добавить в закладки
    .unit.w-1-3
      %button.unstyle
        %i.icon
        %span Оставить жалобу
  .grid
    .unit.w-1-1
      .subtitle 3-х комнатная квартира
      .title {{room.address}}
  .grid
    .unit.w-1-1
      {{room.details.detail_info}}

  .grid
    .unit.w-1-1
      .title В квартире:
  .grid.features
    %i
    .unit.w-1-1
      %span.subtitle Спальных мест:
      6
    - %w[washing_machine vacuum_cleaner microwave electric_iron dishes fridge deep_freeze tv furniture intenet phone protection cable_tv dishwasher air_conditioning].each do |option|
      .unit.w-1-3{ 'ng-show' => "room.details.#{option}" }
        %i.icon
        %span
          = I18n.t("activerecord.attributes.room.#{option}")

  .grid
    .unit.w-1-1
      .title Контакты:
  .grid
    .unit.w-1-1
      + 375 29 769 7887 (mts)
      .subtitle
        Сергей Игоревич, звонить до 1900