.header
  height: 80px
  top: 0

  .current_menu
    color: #888
    text-transform: uppercase
    font-size: 10px
    text-decoration: none
  .logo
    font-size: 36px
    margin-top: 8px
    a
      color: #444
      text-decoration: none

.second_header
  top: 16px
  right: 0
  position: absolute
  .add_room
    left: -33.3332%
    position: absolute

.add_room
  color: red

