@import 'bourbon'
.rooms_form
  position: absolute
  top: 20px
  bottom: 20px
  box-shadow: 0 0 18px #DDDDDD

.results
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  @include box-sizing(padding-box)

.right
  position: absolute
  width: 460px
  height: 100%
  top: 0
  bottom: 0

.bottom
  position: absolute
  bottom: 0
  left: 0
  right: 0

.rooms
  position: relative
  @include transition (background-color .2s linear)
  &:after
    background: #ddd
    content: ""
    height: 1px
    left: 50%
    margin-left: -100px
    position: absolute
    width: 200px
    bottom: 0
  &:hover
    background: #f8f8f8
  .grid
    &>a
    display: block
    padding: 8px 0


  .price
    font-size: 18px
    color: #444

  .address
    color: #444
    font-size: 18px

  .rooms_count
    color: #888
    font-size: 14px
