@import 'bourbon'
.rooms_form
  position: absolute
  top: 20px
  bottom: 20px
  box-shadow: 0 0 18px #DDDDDD

.results
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  @include box-sizing(padding-box)

.right
  position: absolute
  width: 460px
  height: 100%
  top: 0
  bottom: 0

.bottom
  position: absolute
  bottom: 0
  left: 0
  right: 0

.rooms
  position: relative
  @include transition (background-color .2s linear)
  &:after
    background: #ddd
    content: ""
    height: 1px
    left: 50%
    margin-left: -100px
    position: absolute
    width: 200px
    bottom: 0
  &:hover
    background: #f8f8f8
  .grid
    &>a
    display: block
    padding: 8px 0


  .price
    font-size: 18px
    color: #444

  .address
    color: #444
    font-size: 18px

  .rooms_count
    color: #888
    font-size: 14px


.link_to_room
  bottom: 0
  position: absolute
  top: 0
  left: -40px
  width: 40px
  background: #888
  opacity: 0.6
  @include transition (background-color .2s linear)
  &:hover
    background: #444

.room_detail
  color: #444
  bottom: 0
  position: absolute
  top: 0


  .price
    font-size: 22px
    margin-top: 8px

  .menu
    border-bottom: 1px solid #ddd
    button
      &:hover
        cursor: pointer
        color: #888
        i
          opacity: 0.2
      i
        vertical-align: middle
      span
        display: inline-block
        font-size: 11px
        text-transform: uppercase
        vertical-align: middle
        width: 74px
        text-align: left
        padding-left: 4px

  .title
    font-size: 22px
  .subtitle
    color: #888
  .features
    padding-left: 10px
    .unit
      i
        display: inline-block
        vertical-align: middle
      span
        padding-left: 4px
        width: 78px
        display: inline-block
        font-size: 9px
        line-height: 14px
        text-transform: uppercase
        vertical-align: middle
        &.subtitle
          width: auto
          padding: 0


button
  &.unstyle
    background: none
    border: none
    padding: 0