<style type="text/css">
/*
Menu
*/
nav#slide-menu {
position: fixed;
top: 0;
left: -100px;
bottom: 0;
display: block;
float: left;
width: 100%;
max-width: 284px;
height: 100%;
-moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
}
nav#slide-menu > ul {
display: block;
margin: 40px;
padding: 0;
list-style: none;
opacity: 0.5;
-moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
}
nav#slide-menu > ul li {
padding: 6px 0;
cursor: pointer;
}
nav#slide-menu > ul li:before {
speak: none;
display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: 12px;
text-align: center;
font-variant: normal;
font-size: 0.75em;
text-transform: none;
line-height: 1em;
}
body.menu-active nav#slide-menu {
left: 0px;
}
body.menu-active nav#slide-menu ul {
left: 0px;
opacity: 1;
}
/*
Content
*/
div#content {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: scroll;
border-radius: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
}
.menu-trigger {
position: fixed;
top: 10px;
left: 10px;
width: 36px;
height: 36px;
background: #dfe5eb;
cursor: pointer;
border-radius: 5px;
-moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
}
body.menu-active div#content {
left: 284px;
}
body.menu-active div#content .menu-trigger {
left: 294px;
}

</style>