%header
  #full_header
    .half.first_menu
      .uk-width-1-2
        %a.category_info{'ng-href'=>"/{{current_category.slug}}"}{{current_category.title}}
        .logo= link_to 'Place.by', root_path, class: 'uk-text-info'
    .half.second_menu
      .uk-grid
        .uk-width-1-3
          %a.uk-button.uk-button-chameleon{href: 'df'}
            %span добавить место
        .uk-width-1-3
          %a.uk-button.uk-button-chameleon{href: 'df'}
            %span сообщить об ошибке


  #mobile_header
    .results_info.uk-text-uppercase{ 'ng-if' => 'places.length' }
      %ng-pluralize{ count: "places.length", when: "placeForms"}
      %br
      %small
        в категории
        {{current_category.title}}

    .map_trigger{'map-trigger' => '', 'ng-show' => 'visible_show_map'}
      %button.menu_button.secondary{'ng-click' => "changeShowMap('map')" } карта
      %button.menu_button.secondary.active{'ng-click' => "changeShowMap('info')" } инфо.