%nav#slide-menu
  %ul
    %li.timeline
      = link_to 'на главную', root_path
    %li.events
      = link_to 'ya map', 'http://maps.yandex.ru/?um=0CndRpHGqZ3msnvN9jcdUmWOroW8oOZq&l=map'
    %li.calendar Calendar
    %li.sep.settings Settings
    %li.logout Logout
