@import 'bourbon'
@import 'variable.sass'

// @import url(http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic)
@font-face
  font-family: 'PT Serif'
  font-style: normal
  font-weight: 400
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v5/Sh5y9ATXtXKFxn1y2pIqd3YhjbSpvc47ee6xR_80Hnw.woff) format('woff')


// @import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic)
@font-face
  font-family: 'PT Sans'
  font-style: normal
  font-weight: 400
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/oOt0DNfso2UXZt7DYCiN2gLUuEpTyoUstqEm5AMlJo4.woff) format('woff')

// http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic-ext
@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 300
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTVMBBrntOh5tSEdJ1aeglyY.woff) format('woff')

body
  cursor: default
  font-weight: 300
  // font-family: 'Open Sans', sans

h1, h2, h3, h4, h5, h6
  font-weight: 300

.uk-text-uppercase
  text-transform: uppercase
.uk-article-lead
  font-weight: 300

input, textarea
  font-size: 14px
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif
  padding: 4px 8px
  border: 1px solid #b6b8b7
  background: 0
  border-radius: 2px
  box-sizing:border-box
  -moz-box-sizing:border-box

input[type='text'], textarea
  width: 100%

input[type='submit']
  cursor: pointer
  text-transform: uppercase
  &:hover
    color: #888

.block
  background: $main
  border: 1px solid $gray_2_1
  overflow: scroll

  // border-right: 0
  @include box-sizing(border-box)
  padding: 8px

.main_partial
  opacity: 0
  @include transition (opacity .4s linear)
  &.show
    opacity: 1

.right_partial
  right: -100%
  @include transition (right .6s ease)
  &.show
    right: 2px

.animate_filter
  opacity: 0
  @include transition (opacity .2s linear .1s)
  &.show
    @include transition (opacity .2s linear 2s)
    opacity: 1


a, .link
  color: $link
  text-decoration: none !important
  @include transition (color .2s ease)
  &:active
    color: $main_text
    // text-decoration: none
  &:hover
    color: $main_text
    // text-decoration: none
.hover
  a, .link
    &:active
      color: $link !important

.main_wrap
  @include transition (left .2s ease, right .2s ease)
  bottom: 0px
  position: absolute
  right: 0
  // left: 400px
  // z-index: 1
  top: 40px
  &.menu_open
    left: 250px
    right: -250px

.main
  left: 0
  margin: 0 auto
  position: absolute
  right: 0
  width: 920px
  height: 100%

@media screen and (max-width: 920px)
  .header
    .logo
      font-size: 28px !important
      margin-top: 0 !important
  .second_header
    top: 0 !important

  .main_wrap.body
    top: 60px

@media screen and (max-device-width : 640px), screen and (max-width: 640px)

  .main_wrap.body
    top: 0px
  .main
    width: 92%!important

  .details.wrap.half
    top: -60px


.fix_wrap
  position: fixed
  top: 0
  bottom: 0
  left: 0
  // right: 0
  background-image: url('/assets/sprite.png')
  @include transition (all .3s)

  overflow: scroll
  @include box-sizing (border-box)
  width: 100%
  opacity: 0
  &.show
    opacity: 1

.sub_wrapper
  height: 100%
  position: absolute
  width: 100%

map
  position: absolute !important
  display: block
  bottom: 0
  top: 40px
  left: 0
  right: 0

.uk-button
  span
    display: inline-block
    line-height: 16px
    margin: 5px 0
  &.uk-button-large
    span
      line-height: 18px
      margin: 8px 0