@import 'bourbon'
@import 'variable.sass'

// @import url(http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic)
@font-face
  font-family: 'PT Serif'
  font-style: normal
  font-weight: 400
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v5/Sh5y9ATXtXKFxn1y2pIqd3YhjbSpvc47ee6xR_80Hnw.woff) format('woff')


// @import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic)
@font-face
  font-family: 'PT Sans'
  font-style: normal
  font-weight: 400
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/oOt0DNfso2UXZt7DYCiN2gLUuEpTyoUstqEm5AMlJo4.woff) format('woff')

// http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic-ext
@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 300
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTVMBBrntOh5tSEdJ1aeglyY.woff) format('woff')

body
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif
  font-size: 14px
  line-height: 20px
  color: #444
  overflow-x: hidden
  height: 100%
  margin: 0px
  padding: 0px
  cursor: default
  section
    border-spacing: 0 !important

.check
  font-family: 'Open Sans', sans
  font-size: 13px

h1, h2, h3
  font-family: 'PT Sans', sans
  font-weight: 300

input, textarea
  font-size: 14px
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif
  padding: 4px 8px
  border: 1px solid #b6b8b7
  background: 0
  border-radius: 2px
  box-sizing:border-box
  -moz-box-sizing:border-box

input[type='text'], textarea
  width: 100%

input[type='submit']
  cursor: pointer
  text-transform: uppercase
  &:hover
    color: #888

.block
  background: $main
  border: 1px solid $gray_2_1
  overflow: scroll

.animate_opst
  @include transition (top .1s linear 1s)
  top: -150%
  &.show
    @include transition (top .1s linear 0s)
    top: 0
    &>div
      opacity: 1
  &>div
    opacity: 0
    @include transition (opacity .2s linear .1s)

.animate_filter
  opacity: 0
  @include transition (opacity .2s linear .1s)
  &.show
    @include transition (opacity .2s linear 2s)
    opacity: 1

.animate_rslide
  @include transition (right .6s linear, opacity .2s linear)
  right: -680px
  opacity: 1
  &.show
    right: 0

a, .link
  color: $link
  @include transition (color .2s linear)
  &:hover
    color: #444

.main_wrap
  @include transition (left .2s linear, right .2s linear)
  bottom: 0px
  left: 0
  position: absolute
  right: 0
  &.body
    top: 80px
  &.open_menu
    left: 300px
    right: -300px

.main
  left: 0
  margin: 0 auto
  position: absolute
  right: 0
  width: 920px
  height: 100%

.sub_wrapper
  height: 100%
  position: absolute
  left: 0
  right: 0

.xs-show
  display: none !important
.xs-hide
  display: inherit !important

.half
  float: left

.map_control
  display: none

@media screen and (min-width: 920px)
  .full
    width: 920px
  .half
    width: 460px
  .sub_wrapper
    &.short
      right: 460px
  .w-main
    width: 25% !important



@media screen and (max-width: 920px)
  .full
    width: 640px
  .half
    width: 320px
  .sub_wrapper
    &.short
      right: 320px

  .header
    .logo
      font-size: 28px !important
      margin-top: 0 !important
  .second_header
    top: 0 !important

  .big_icon
    display: none !important

  .main_wrap.body
    top: 60px

  .w-main
    width: 50% !important

// @media only screen and (min-device-width : 320px) and (max-device-width : 568px)
@media all and (max-width: 640px) and (max-device-width: 640px)

  .main
    width: 92%!important
  .full
    width: 100%
  .half
    width: 100%
  .xs-show
    display: inherit !important
  .xs-hide
    display: none !important
  .details.wrap.half
    top: -60px
  .sub_wrapper.short
    right: 0

  .map_control
    display: block
    position: absolute
    background: $contrast
    color: $main
    bottom: 0
    right: 0
    span
      cursor: pointer
      padding: 16px
      display: inline-block
      @include transition (background .2s linear)
      &.active
        background: $contrast_2
      &:hover
        background: $contrast_2

  .w-main
    width: 100% !important

.infogram
  @include transition (border-color .35s linear)
  border: 1px solid $main
  font-family: 'Open Sans', sans
  border-radius: 2px
  color: #444444
  cursor: pointer
  display: inline-block
  padding: 4px
  text-decoration: none
  &:hover
    border: 1px solid $gray_2_1
  i
    vertical-align: middle
  span
    display: inline-block
    font-size: 9px
    line-height: 14px
    padding-left: 4px
    text-transform: uppercase
    vertical-align: middle
    width: 72px
    text-align: left

a.infogram
  height: 32px

button.infogram
  padding: 2px
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0)

.h_an
  @include transition (background-color .2s linear)
  &:hover
    background: #f8f8f8
