@import 'bourbon'
@import 'variable.sass'

header
  background: none repeat scroll 0 0 $main
  height: 40px
  position: fixed
  top: 0
  z-index: 1

  left: 0
  width: 100%
  overflow: scroll
  @include box-sizing (border-box)
  @include transition (all .3s)

  .first_menu
    position: absolute
    left: 0
    top: 0
    padding: 8px
    @include box-sizing (border-box)

  .second_menu
    position: absolute
    right: 0
    top: 0
    padding: 8px
    @include box-sizing (border-box)

  .logo
    font-size: 36px
    line-height: 0.8
    margin-top: 0
  .category_info
    text-transform: uppercase
    font-size: 13px
    line-height: 1.4
    &:after
      content: '.'
      color: $main


#mobile_header
  background: $contrast
  height: 40px
  .results_info
    font-size: 1.0em
    text-align: center
    color: $main
    line-height: 1.2
    padding-top: 3px
    small
      font-size: 0.8em

  .map_trigger
    position: absolute
    right: 0
    top: 0
    button
      &:last-child
        margin-left: -5px

.menu_button
  text-align: center
  border-radius: 2px
  height: 40px
  border: 1px solid rgba(255, 255, 255, 0.25)
  border-width: 0 1px
  // border-bottom: 0px
  font-family: 'Open Sans', sans
  color: $main
  padding: 0 8px

  &.primary
    background-color: $gray_2_1
    &.active, &:hover
      background-color: $gray_2_2

  &.secondary
    background-color: $contrast
    &.active, &:hover
      background-color: $contrast_2
