@import 'bourbon'
@import 'variable.sass'

.home_index
  margin-top: 80px
  .mn
    background: $main
    padding-top: 8px
    padding-bottom: 8px
  .promo
    background: $contrast
    color: $main
    padding-top: 8px
    padding-bottom: 8px