#media-width-detection-element
  display: none
  width: 0px
@media (min-width: 768px)
  #media-width-detection-element
    width: 768px
@media (min-width: 992px)
  #media-width-detection-element
    width: 992px
@media (min-width: 1200px)
  #media-width-detection-element
    width: 1200px

.container
  width: 92%
  font-size: 150%

@media (min-width: 768px)

@media (min-width: 992px)

@media (min-width: 1200px)
