#media_width
  display: none
  width: 0px
@media (min-width: 768px)
  #media_width
    width: 768px
@media (min-width: 992px)
  #media_width
    width: 992px
@media (min-width: 1200px)
  #media_width
    width: 1200px

.container
  width: 92%
  font-size: 150%

@media (min-width: 768px)

@media (min-width: 992px)

@media (min-width: 1200px)
