@import 'bourbon'
@import 'variable.sass'

.results
  .menu
    background: $contrast
    a, h3
      color: $main

.result_items
  @include transition (background-color .2s linear)
  position: relative
  &:active
    background: #f8f8f8

  &:after
    background: #ddd
    content: ""
    height: 1px
    position: absolute
    left: 50%
    margin-left: -150px
    width: 300px

  &>a
    display: block
    padding: 12px 8px

.hover
  .result_items
    &:hover
      background: #f8f8f8