!!!
%html{'ng-app' => 'PlaceApp', 'ng:controller' => 'ApplicationController'}
  %head
    %title PlaceBy
    = stylesheet_link_tag    "application", media: "all"
    %script{ src: 'http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=ru' }
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ 'ng:include' =>'controller' }